<div
  class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar-container"
>
  <a
    routerLink="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <i class="bi bi-activity me-2" style="font-size: 2rem"></i>
    <span class="fs-4">Clínica Salud</span>
  </a>
  <hr />

  <ul class="nav nav-pills flex-column mb-auto">
    <li *ngFor="let item of menu" class="nav-item">
      <a
        *ngIf="!item.subItems"
        [routerLink]="item.routerLink"
        routerLinkActive="active"
        class="nav-link text-white"
      >
        <i class="me-2" [class]="item.icon"></i>
        {{ item.label }}
      </a>

      <a
        *ngIf="item.subItems"
        href="#"
        class="nav-link text-white"
        data-bs-toggle="collapse"
        [attr.data-bs-target]="'#submenu-' + item.label.replace(' ', '')"
        aria-expanded="false"
      >
        <i class="me-2" [class]="item.icon"></i>
        {{ item.label }}
        <i class="bi bi-chevron-down float-end"></i>
      </a>

      <div
        *ngIf="item.subItems"
        class="collapse"
        [id]="'submenu-' + item.label.replace(' ', '')"
      >
        <ul class="nav flex-column ms-4">
          <li *ngFor="let subItem of item.subItems" class="nav-item">
            <a
              [routerLink]="subItem.routerLink"
              routerLinkActive="active"
              class="nav-link text-white sub-item"
            >
              <i class="me-2" [class]="subItem.icon"></i>
              {{ subItem.label }}
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <hr />

  <div class="dropdown">
    <a>
      <img
        src="https://media.istockphoto.com/id/177009329/es/foto/perfil-de-red-fox.jpg?s=612x612&w=0&k=20&c=6_WdR2rdaN18AlocdX9a-DuL0l6LlP0TTgEzc2VNUlM="
        alt=""
        width="32"
        height="32"
        class="rounded-circle me-2"
      />
      <strong>Atl1God</strong>
    </a>
  </div>
</div>
